#carousel{
    background-image: url("/php/assets/texture/normal/carousel-bg.png");
    background-repeat: repeat-x;
    background-position: left;
    background-size: cover;
    height: 900px;
}
#carousel h1{
    font-family: 'AntiqueOliveBold', Arial, sans-serif;
    letter-spacing: 2px;
    font-size: 40px;
    color: #ffffff;
    margin: 50px 0 0 0;
}
#carousel > div{
    padding: 40px 0;
}
#carousel > div > div{
    background-image: url("/php/assets/main/img/note.svg");
    display: block;
    background-size: cover;
    width: 963px;
    height: 565px;
    margin: 0 auto;
    border-radius: 50px;
}
#carousel .tablet-slider{
    position: absolute;
    width: 803px;
    height: 463px;
    margin: 38px 80px;
    overflow: hidden;
    z-index: 0;
}
#carousel .tablet-slider .slider-inner{
    height: 100%;
    position: relative;
}
#carousel .tablet-slider .slider-inner > div{
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}
#carousel .tablet-border-shadow{
    position: absolute;
    width: 803px;
    height: 463px;
    margin: 38px 80px;
    z-index: 10;
    background-color: transparent;
    /*box-shadow: inset 0 0 2px 3px rgba(0,0,0,0.75);*/
    pointer-events: none;
}
#carousel .tablet-glass{
    position: absolute;
    width: 803px;
    height: 463px;
    margin: 38px 80px;
    background-color: #FFF;
    z-index: 10;
    background-image: url("/php/assets/main/img/shadow.svg");
    opacity: 0.05;
    pointer-events: none;
    background-size: cover;
}
#carousel .slider-navigation{
    /*before init carousel.js*/
    width: 0;
    /*before init carousel.js*/
    margin: 0 auto;
    background-color: gray;
    border-radius: 15px;
    height: 30px;
}
#carousel .slider-navigation > li{
    display: inline-block;
    float: left;
    width: 20px;
    height: 20px;
    background: #c0c0c0;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
}
#carousel .slider-navigation > .active{
    background: #000;
}
#carousel .slider-navigation > li:hover{
    background: #000;
}
#carousel .slider-bottom-link{
    width: 100%;
    height: 60px;
    position: relative;
    background-color: #f5a721;
    text-align: center;
    bottom: 0;
}
#carousel .slider-bottom-link a{
    color: #ffffff;
    font-weight: bolder;
    font-size: 23px;
    display: inline-block;
    margin: 15px;
    text-decoration: none;
    transition: color 0.5s ease-out;
}
#carousel .slider-bottom-link:hover{
    
}
#carousel .slider-bottom-link a:hover{

}
#carousel img{
    width: 802px;
}
@media (max-width: 1179px) and (min-width: 979px){
    #carousel{
        height: 800px;
    }
    #carousel > div{
        padding: 20px 0;
    }
    #carousel > div > div{
        width: 663px;
        height: 390px;
        margin: 30px auto;
        border-radius: 35px;
    }
    #carousel .tablet-slider, #carousel .tablet-glass, #carousel .tablet-border-shadow{
        width: 550px;
        height: 316px;
        margin: 27px 57px;
    }
    #carousel img{
        width: 550px;
    }
}
@media (max-width: 979px) and (min-width: 768px){
    #carousel{
        height: 750px;
    }
    #carousel > div{
        padding: 30px 0;
    }
    #carousel > div > div{
        width: 663px;
        height: 390px;
        margin: 40px auto;
        border-radius: 30px;
    }
    #carousel .tablet-slider, #carousel .tablet-glass, #carousel .tablet-border-shadow{
        width: 553px;
        height: 317px;
        margin: 28px 55px;
    }
    #carousel img{
        width: 553px;
    }
}
@media (max-width: 768px){
    #carousel{
        height: 800px;
    }
    #carousel > div{
        padding: 40px 0;
    }
    #carousel > div > div{
        width: 663px;
        height: 390px;
        margin: 20px auto;
        border-radius: 35px;
    }
    #carousel .tablet-slider, #carousel .tablet-glass, #carousel .tablet-border-shadow{
        width: 551px;
        height: 318px;
        margin: 27px 56px;
    }
    #carousel img{
        width: 551px;
    }
}
