#modal .modal-background{
    /*width: 100%;
    position: fixed;
    top: 0;
    margin: 0;
    height: 100%;
    z-index: 130;
    border-radius: 5px;*/
}
#modal #popup{
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 150;
    background: rgba(0, 0, 0, 0.2);
}
#modal .popup-inner-container{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 600px;
}
#modal .popup-inner-container::-webkit-scrollbar-track
{
    background-color: #fff;
}
#modal .popup-inner-container::-webkit-scrollbar
{
    width: 10px;
    background-color: #f5f5f5;
}
#modal .popup-inner-container::-webkit-scrollbar-thumb
{
    background-color: #F90;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
}
#modal #popup-inner{
    width: 100%;
}
#modal .popup-header{
    height: 50px;
    background-color: #FFAD33;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
}
#modal .popup-footer{
    height: 50px;
    background-color: #FFAD33;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
}
#modal #popup-title{
    padding: 15px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    font-weight: bolder;
}
#modal .popup-close{
    float: right;
    background-image: url("/php/assets/component/modal/img/close.png");
    width: 20px;
    height: 20px;
    position: relative;
    background-size: contain;
    cursor: pointer;
    right: 15px;
    top: 15px;
    display: inline-block;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}
#modal .popup-close:hover {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
#modal #popup-content{
    border-radius: 15px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    border-top: 5px solid #eb9816;
    border-bottom: 5px solid #eb9816;
    position: relative;
    background-color: #ffffff;
    z-index: 150;
    left: 20%;
    top: 5%;
    width: 60%;
}