footer#footer{
    height: 126px;
    background-color: #312a24;
    background-image: url("/php/assets/main/img/footer.png");
    background-repeat: repeat-x;
    min-width: 650px;
}
footer#footer .copyright {
    color: #fff;
    font-size: 12px;
}
footer#footer .icon{
    display: inline-block;
    width: 40px;
    height: 40px;
}
footer#footer .vk{
    background-image: url("/php/assets/icon/vk.svg");
}
footer#footer .fb{
    background-image: url("/php/assets/icon/fb.svg");
}
footer#footer .gp{
    background-image: url("/php/assets/icon/gp.svg");
}
footer#footer .tw{
    background-image: url("/php/assets/icon/tw.svg");
}
footer#footer .ok{
    background-image: url("/php/assets/icon/ok.svg");
}
footer#footer .pi{
    background-image: url("/php/assets/icon/pi.svg");
}
footer#footer .icon:hover{
    opacity: 0.8;
}