#form-backcall #name,
#form-backcall #phone{
    border-radius: 5px;
}
#form-backcall #name,
#form-backcall #phone,
#form-backcall #country-search{
    padding: 0 25px;
    width: 100%;
    height: 50px;
    border: 1px solid #d8d8d8;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: inset 3px 3px 5px rgba(0,0,0,.05);
    /* hack autofill input*/
    /*-webkit-box-shadow: 0 0 0px 1000px #ffffff inset;*/
    /* hack autofill input*/
}
#form-backcall .input-container{
    position: relative;
    margin-bottom: 20px;
}
#form-backcall #phone{
    margin-bottom: 20px;
}
#form-backcall .input-clear{
    position: absolute;
    top: 16px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    right: 15px;
    display: none;
}
#form-backcall input[type="checkbox"]{
    display: none;
}
#form-backcall #text{
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 25px;
    width: 100%;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: inset 3px 3px 5px rgba(0,0,0,.05);
}
#form-backcall #name:hover,
#form-backcall #name:focus,
#form-backcall #phone:hover,
#form-backcall #phone:focus{
    outline: none;
    border-color: #acacac;
    background-color: #f9f9f9;
    box-shadow: inset 3px 3px 5px rgba(0,0,0,.05);
}
#form-backcall h1{
    font-family: 'AntiqueOliveBold', Arial, sans-serif;
    letter-spacing: 2px;
    font-size: 40px;
}
#form-backcall h2{
    font-family: 'Agletcr', Arial, sans-serif;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 2px;
}
#form-backcall{
    margin: 0 auto;
    width: 663px;
}
#form-backcall .clearfix{
    padding: 0;
}
#form-backcall label{
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
    width: 33%;
    float: left;
}
#form-backcall label span{
    display: inline-block;
    border-radius: 5px;
    height: 70px;
    background: #f9f9f9;
    box-shadow: inset 3px 3px 5px #f9f9f9;
    color: #999999;
    text-align: center;
    text-transform: uppercase;
    text-shadow: none;
    font-family: 'Agletcr', Arial, sans-serif;
    cursor: pointer;
    transition: 0.25s;
}
#form-backcall #phone{
    width: 80%;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    float: left;
}
#form-backcall #phone-code{
    padding: 20px;
    width: 20%;
    float: left;
    height: 50px;
    border: 1px solid #d8d8d8;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    line-height: 10px;
    cursor: pointer;
    text-align: right;
}
#form-backcall #phone-code .country-flag, #phone-code-container .country-flag{
    background-image: url("/php/assets/common/img/flags.png");
    width: 18px;
    height: 10px;
    float: left;
    background-repeat: no-repeat;
}
#form-backcall #phone-code .country-flag, #phone-code-container .country-flag{
    background-image: url("/php/assets/common/img/flags.png");
    width: 18px;
    height: 10px;
    float: left;
    background-repeat: no-repeat;
}
#phone-code-container .country-flag {
    margin: 4px;
}
#phone-code-container .country-name, #phone-code-container .country-code{
    font-family: 'Agletcr', Arial, sans-serif;
    font-weight: bolder;
}
#form-backcall #phone-code:hover{
    outline: none;
    border-color: #acacac;
    background-color: #f9f9f9;
    box-shadow: inset 3px 3px 5px rgba(0,0,0,.05);
}
#form-backcall #phone-code-container{
    background-color: #fff;
    display: none;
    position: absolute;
    width: 490px;
    height: 300px;
    overflow: hidden;
    /*overflow-y: scroll;*/
    border: 1px solid #d8d8d8;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}
#form-backcall #country-search{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 0;
}
#form-backcall #phone-countries-container{
    background-color: #fff;
    position: relative;
    height: 250px;
    overflow: overlay;
    border: 1px solid #d8d8d8;
    padding: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#form-backcall #phone-countries-container::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
#form-backcall #phone-countries-container::-webkit-scrollbar{
    width: 10px;
    background-color: #F5F5F5;
}
#form-backcall #phone-countries-container::-webkit-scrollbar-thumb{
    background-color: #F90;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
}
#form-backcall #phone-countries-container > div{
    height: 50px;
    cursor: pointer;
    padding: 15px;
    text-align: right;
}
#form-backcall #phone-countries-container span{
    margin-right: 10px;
}
#form-backcall #phone-countries-container > div:hover{
    border-color: #acacac;
    background-color: #f9f9f9;
}
#form-backcall label span.active{
    background: #acacac;
    color: #ffffff;
    box-shadow: inset 3px 3px 5px #acacac;
}
#form-backcall label span:hover {
    background: #acacac;
    color: #ffffff;
    box-shadow: inset 3px 3px 5px #acacac;
}
/***** form alerts and error *****/
#form-backcall .alert-error{
    background-color: #d84a34;
}
#form-backcall .alert-success{
    background-color: #75a81f;
}
#form-backcall .alert{
    font-size: 20px;
    display: none;
    padding: 3px 0;
    border: none;
    border-radius: 6px;
    color: #fff;
    text-align: center;
    font-family: 'Agletcr', Arial, sans-serif;
    margin-bottom: 15px;
    font-weight: 700;
}
#form-backcall #name.error,
#form-backcall #phone.error{
    border-color: #d84a34;
    background-color: #f7eeee;
    color: #d84a34;
}
#form-backcall #name.success,
#form-backcall #phone.success{
    background-color: #dce8c7;
    border-color: #98c943;
}
#form-backcall span.error{
    background: #d84a34;
    box-shadow: none;
    color: #fff;
}

/*iphone 6 in portrait & landscape*/
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px){
    #form-backcall span.two-line {
        padding: 25px 0;
    }
    #form-backcall{
        width: 463px;
    }
    #form-backcall label{
        width: 100%;
    }
    #form-backcall label span:hover{
        background-color: #f9f9f9;
        box-shadow: inset 3px 3px 5px #f9f9f9;
        color: #999999;
    }
}
/***** form alerts and error *****/