<div id="modal">
    <div id="modal-background"></div>
    <div id="popup" style="display: block;">
        <div id="popup-content">
            <div class="popup-header">
                <div class="popup-close" onclick="core.modal.close(event);"></div>
                <div id="popup-title">inbaget.ru</div>
            </div>
            <div class="popup-inner-container">
                <div id="popup-inner">
                    <!-- content -->
                </div>
            </div>
            <div class="popup-footer"></div>
        </div>
    </div>
</div>