#form-login input[type="text"]{
    padding: 0 25px;
    width: 100%;
    height: 50px;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: inset 3px 3px 5px rgba(0,0,0,.05);
}
#form-login input[name="password"]{
    padding: 0 25px;
    width: 100%;
    height: 50px;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: inset 3px 3px 5px rgba(0,0,0,.05);
}
#form-login input[type="text"]:hover, #form-login input[type="password"]:hover, #form-login input[type="text"]:focus, #form-login input[type="password"]:focus{
    outline: none;
    border-color: #acacac;
    background-color: #f9f9f9;
    box-shadow: inset 3px 3px 5px rgba(0,0,0,.05);
}
#form-login h1{
    font-family: 'AntiqueOliveBold', Arial, sans-serif;
    letter-spacing: 2px;
    font-size: 40px;
}
#form-login h2{
    font-family: 'Agletcr', Arial, sans-serif;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 2px;
}
#form-login{
    margin: 50px auto 0;
    width: 663px;
}
#form-login .input-container{
    position: relative;
    margin-bottom: 20px;
}
#form-login .input-clear, #form-login .show-password{
    position: absolute;
    top: 16px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    right: 15px;
    display: none;
}
/***** form alerts and error *****/
#form-login .alert-error{
    background-color: #d84a34;
}
#form-login .alert-success{
    background-color: #75a81f;
}
#form-login .alert{
    font-size: 20px;
    display: none;
    padding: 3px 0;
    border: none;
    border-radius: 6px;
    color: #fff;
    text-align: center;
    font-family: 'Agletcr', Arial, sans-serif;
    margin-bottom: 15px;
    font-weight: 700;
}
#form-login input.error{
    border-color: #d84a34;
    background: #f7eeee;
    color: #d84a34;
}
#form-login input.success{
    background-color: #dce8c7;
    border-color: #98c943;
}
#form-login span.error{
    background: #d84a34;
    box-shadow: none;
    color: #fff;
}
@media (max-width: 979px){
    #form-login{
        width: 463px;
    }
    #form-login input[name="password"]{
        width: 100%;
        margin: 0 0 20px 0;
    }
    #form-login input[name="password_repeat"]{
        width: 100%;
        margin: 0 0 20px 0;
    }
}
/***** form alerts and error *****/