#wrapper{
    min-width: 650px;
    min-height: 750px;
    margin: 70px auto;
}
#blog-index, #blog-view{
    display: inline-block;
    padding: 20px;
}
#blog-index hr, #blog-view hr{
    width: 100%;
}
#blog-index #left-part{

}
#blog-index #left-part h1, #blog-view #left-part h1{
    display: inline-block;
    float: left;
    white-space: pre-wrap;       /* css-3 */
    /*word-break: break-all;*/
    max-width: 490px;
    margin-left: 10px;
}
#blog-index #left-part .post-date, #blog-view #left-part .post-date{
    font-size: 12px;
    padding: 10px 0 0 0;
    float: left;
    display: inline-block;
    font-weight: bolder;
    text-transform: uppercase;
}
#blog-index #left-part .post-day,#blog-view #left-part .post-day{
    font-size: 35px;
    color: #c00;
    width: 50px;
    display: inline-block;
    text-align: center;
}
#blog-index #left-part .post-little-day,#blog-view #left-part .post-little-day{
    width: 50px;
    display: inline-block;
    text-align: center;
}

#blog-index #right-part{

}
#blog-index #right-part h1, #blog-view #right-part h1{
    display: block;
    width: 100%;
}
#blog-index #right-part li{
    list-style-type: none;
    display: inline-block;
    background-color: #D74242;
    padding: 2px 5px;
    margin: 3px;
}
#blog-index #right-part a{
    color: #ffffff;
}

#blog-view{
    display: inline-block;
    padding: 20px;
}
#blog-index #right-part{

}

/**
 view
**/




#blog-view #right-part h1{
    display: block;
    width: 100%;
}
#blog-view #right-part li{
    list-style-type: none;
    display: inline-block;
    background-color: #D74242;
    padding: 2px 5px;
    margin: 3px;
}
#blog-view #right-part a{
    color: #ffffff;
}

#blog-index ul, #blog-view ul{
    font-size:18px;
}
#blog-index ul li, #blog-view ul li{
    line-height:30px;
    margin-left: 10px;
}
#blog-view .post-tags a{
    color: #ffffff;
    list-style-type: none;
    display: inline-block;
    background-color: #D74242;
    padding: 2px 5px;
    margin: 3px;
}