#contacts{
    margin: 90px 0 0 0;
}
#contacts .row{
    margin: 30px 0;
}
#contacts .photo{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
#contacts h1{
    text-align: center;
    font-family: 'AntiqueOliveBold', Arial, sans-serif;
    font-size: 40px;
    margin: 50px 0 0 0;
}
#contacts h2{
    color: #000;
    font-family: 'AntiqueOliveBold', Arial, sans-serif;
    text-align: left;
    font-weight: bolder;
    font-size: 30px;
}
#contacts h3, #contacts h4{
    color: #000;
    font-family: 'Lisa', Arial, sans-serif;
    text-align: left;
    font-size: 20px;
}
@media (max-width: 1179px) and (min-width: 979px){
    #contacts .photo{
        display: none;
    }
}