#form .header{
    margin: 80px 0 0 0;
}
#form .header div{
    display: inline-block;
    float: left;
    width: 135px;
    height: 21px;
    border: 1px inset;
    background-color: #EBEBE4;
    box-sizing: border-box;
}
#form .body form{
    margin: 0;
    padding: 0;
}
#form .body input{
    margin: 0;
    padding: 0;
    width: 135px;
    float: left;
}
#form .new-body form{
    margin: 0;
    padding: 0;
}
#form .new-body input{
    margin: 0;
    padding: 0;
    width: 135px;
    float: left;
}
#form .new-body input:first-of-type{
    margin-left: 135px;
}