#services{
    margin: 20px 0;
    min-height: 90%;
    display: inline-block;
    background-color: #96BBC1;
    padding: 20px;
}
#services > div{
    border: 10px #FFF solid;
    display: inline-block;
}
#services h3, #services h4{
    color: #FFF;
    font-family: 'AntiqueOliveBold';
    text-align: center;
}
#services h1, #services p{
    font-family: 'AntiqueOliveBold';
    text-align: center;
    color: #3C646B;
}
#services p{
    font-size: 10px;
    line-height: 10px;
}